PROJECT=example-vertex-ai-pipelines
ACCOUNT=hotoku@inctore.com
export CLOUDSDK_ACTIVE_CONFIG_NAME=inctore--default


export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/credentials/example-vertex-ai-pipelines-0e2624d363f4.json


if ! gcloud config configurations describe ${CLOUDSDK_ACTIVE_CONFIG_NAME}; then
    gcloud config configurations create ${CLOUDSDK_ACTIVE_CONFIG_NAME}
fi
gcloud config set project ${PROJECT}
gcloud config set account ${ACCOUNT}
