PROJECT=example-vertex-ai-pipelines
ACCOUNT=hotoku@inctore.com
export CLOUDSDK_ACTIVE_CONFIG_NAME=inctore--default


export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/.config/legacy_credentials/${ACCOUNT}/adc.json


if ! gcloud config configurations describe ${CLOUDSDK_ACTIVE_CONFIG_NAME}; then
    gcloud config configurations create ${CLOUDSDK_ACTIVE_CONFIG_NAME}
fi
gcloud config set project ${PROJECT}
gcloud config set account ${ACCOUNT}
